@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    display: grid;
    place-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

body {
    color: #141414;
    background-color: #dbdeef;
}

header nav {
    background-color: #001a5e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    height: 3.75rem;
    padding: 0.37rem 0.75rem;

    & #search {
        width: 100%;
        display: flex;
        gap: 0.31rem;
        align-items: center;
        justify-content: center;

        & input,
        button {
            outline: none;
            border-radius: 0.25rem;
            border: 0.06rem solid #555;
            padding: 4px 8px;
        }

        & button {
            cursor: pointer;

            &:hover {
                background-color: rgb(0, 48, 135);
                color: #fff;
                border: none;
                transition: all .3s ease;
            }
        }

    }

    & #navigation {
        display: flex;
        list-style: none;
        gap: 0.62rem;

        & a {
            color: #FFF;
            text-decoration: none;
            padding: 4px 8px;
            border-radius: 0.25rem;

            &:hover {
                background-color: rgb(0, 48, 135);
                box-shadow: 2px 2px 4px #000;
                transition: all .3s ease;
            }
        }
    }
}

main {
    width: 100%;
    max-width: 1400px;
}

#inicio {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1.5rem;

    & .hero__aside {
        width: 100%;
        background-color: #abb0cd;
        border-radius: 0 0 0 50%;
        box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.5);
        z-index: 1;

        & img {
            max-width: 100%;
        }
    }

    & .__content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #abb0cd;
        border-radius: 0 0% 50% 0;
        padding: 1rem;
        box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.5);

        & p {
            width: 80%;
        }
    }
}

#about {
    padding: 1.5rem;
    margin-bottom: 2rem;

    & .__content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .main__content {
            background-color: #abb0cd;
            padding: 1rem;
            box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.5);
            z-index: 1;

            & img {
                max-width: 100%;
            }

        }

        & .__aside {
            width: 100%;
            color: #abb0cd;
            background-color: #141414;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
            box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.5);

            & span {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    header nav {
        flex-direction: column;
        height: min-content;

        & #navigation {
            flex-flow: row wrap;
            padding: 10px 0;
        }
    }

    #inicio {
        margin-top: 131.31px;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;

        & .hero__aside {
            border-radius: 50% 0 0 0;
        }

        & .__content {
            padding: 1.5rem;
        }
    }

    #about {
        padding: 1rem 0;

        & .__content {
            grid-template-columns: 1fr;
            
            &.main__content {
                padding: 1.5rem;
            }
        }
    }

}